<footer class="border-top border-dark py-3">
  <div class="container mt-2">
    <div class="row">
      <!-- Section Téléphone -->
      <div class="col-md-3 mb-1 text-start">
        <p class="fw-bold mb-1">Téléphone</p>
        <p class="mb-1">+228 71160021</p>
      </div>
      <!-- Section Email -->
      <div class="col-md-3 mb-1 text-start">
        <p class="fw-bold mb-1">Email</p>
        <a href="mailto:patriceayite@outlook.com" class="text-decoration-none d-block">
          patriceayite&commat;outlook.com
        </a>
      </div>
      <!-- Section Suivez-moi -->
      <div class="col-md-3 mb-1 text-start">
        <p class="fw-bold mb-1">Suivez-moi</p>
        <p class="mb-0">
          <a href="https://www.linkedin.com" target="_blank" class="me-3 text-primary">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="text-info">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </p>
      </div>
      <!-- Section Copyright -->
      <div class="col-md-3 mb-1 text-start">
        <h6 class="fw-bold mb-1">Copyright &copy; <span id="currentYear"></span>Trix.Com</h6>
        <p class="mb-0">Créé avec Angular</p>
      </div>
    </div>
  </div>
</footer>
